/*
CONTENTS:
1) GENERAL
2) HEADER
3) SLIDE-UP-TAB
4) NUGGET-INFO
5) ADD-FORM
6) LOCATION-SELECT
*/

:root {
  --header-background: #55D6BE;
  --title-font: 'Comfortaa', cursive;

}

/*
1) GENERAL
*/

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

/*
2) HEADER
*/
.header {
  background: var(--header-background);
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 8%;
}

.app-title {
  text-align: center;
  margin:0%;
  transform: translateY(30%);
  font-family: var(--title-font);
  font-size: 1.8rem;
}

.add-nugget-button{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
/*
3) SLIDE-UP-TAB
*/

/*
4) NUGGET-INFO
*/

/*
5) ADD-FORM
*/

/*
6) LOCATION-SELECT
*/
