/*
CONTENTS:
1) GENERAL
2) HEADER
3) SLIDE-UP-TAB
4) NUGGET-INFO
5) ADD-FORM
6) LOCATION-SELECT
*/

/*
1) GENERAL
*/
html, body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*
2) HEADER
*/

/*
3) SLIDE-UP-TAB
*/
.slide-up-tab {
  position: absolute;

  width: 95%;
  box-sizing: border-box;

  margin: 0em 2.5%;
  padding: 0.8em 1.6em;
  border-radius: 0.7em;

  overflow-x: hidden;
  overflow-y: scroll;

  font-family: 'Lato', sans-serif;
  background: rgba(255, 255, 255, 0.9);
}

.slide-up-tab-x-button {
  position: absolute;
  right: 0.5em;
  top: 0.2em;
}

/*
4) NUGGET-INFO
*/
.nugget-info-tab {
  top: 20%;
  left: 0%;

  height: 80%;

  border-top: 0.4em solid rgb(255, 178, 53);
}

.nugget-title {
  margin: 0.5em 0em;
  font-family: 'Comfortaa', cursive;
}

.nugget-image {
  height: 10em;
  width: 10em;
}

/*
5) ADD-FORM
*/

/*
6) LOCATION-SELECT
*/
